<!DOCTYPE html>
<html>
  <head>
    <title>{{ siteTitle }}: {{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="{{ eleventyinfo.generatorStr}}" />
    <meta name="author" content="John M. Wargo">
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if categories.length > 0 %}
      <meta name="keywords" content="{% getKeywords categories %}">
    {% endif %}
  </head>
  <body>
    {% include "nav.html" %}
    <main>
      {{ content }}
    </main>
  </body>
</html>